/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2018, 10:54:12
    Author     : hacho
*/


.fondo-blogs {
    background-image:url("../../plantillas/simplicity/assets/icons/home_first_slide.png");  
}

#section-lista-blogs .container_inner{
    width: inherit;
}


.blog_holder_v3 article {
    width: 24%;
}


#section-lista-blogs .link-filtro {
    cursor: pointer;
    padding: 15px;
    margin: 5px 11px;
    font-size: 14px!important;
    font-weight: bold;
}


#section-lista-blogs .tagcloud {
    margin-bottom: 30px;
}

