/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2018, 10:54:34
    Author     : hacho
*/

#map {
    width: 1100px;
    height: 500px;
    margin-bottom: 50px;
}

.fondo-contacto {
    background-image:url("../../plantillas/simplicity/assets/icons/home_third_slide.png");  
}

#section-contacto .p-leyend {
    margin-bottom:50px;
}

.espacio-h2-contact {
    margin-top:0px;    
}


.list.circle ul>li, .list.number ul>li, .list.number_with_shadow ul>li {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}