/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/08/2018, 19:47:34
    Author     : hacho
*/

.fondo {
    background-image:url("../../plantillas/simplicity/assets/icons/parallax_image3.png");  
}



#section-hilos {    
    margin-top: -35px;
    margin-bottom: 20px;
}

#section-hilos .container_inner{
    width: inherit;
}

.blog_holder_v3 article {
    width: 24%;
}

#section-hilos .link-filtro {
    cursor: pointer;
    padding: 15px;
    margin: 5px 11px;
    font-size: 14px!important;
    font-weight: bold;
}

#section-hilos .tagcloud {
    margin: 30px 0;
}


#section-hilos .p-leyend {
    margin-bottom:50px;
}




.title {
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #f6f8fc;
    opacity: 0;
}

aside .widget h5 {
    margin: 0 0 15px 0;
}

#section-hilos .tagcloud {
    margin: 0px 0;
}

aside .widget {
    margin-bottom: 40px;
}





.blog_holder_v2 .post_content_quote h4, .blog_holder .post_content_quote h4 {
    background-image: url("");
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 18px;
    padding: 0px;
    margin-top: 2%;
}

/*.post_text_hilo {
    margin-bottom: -5%;
}*/












.blog_holder_v2 article {
    display: inline-block;
    width: auto !important;
    padding: 0 0 40px;
}


.post_content_holder {
    float: left;
    width: 92%;
    padding: 0 0 15px 0;
}


.post_info {
    float: left;
    width: 8%;
    margin-top: 2%;
}


.columna-pc {
    width: 65%;
    margin-right: 5%;
    float: left;
}



.div-traslucido {   
    color: white;  
    padding: 15px !important;
    background-color: rgba(20, 20, 20, 0.5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.blog_holder_v2.blog_single_holder article.quote .info {
    padding: 0px !important;
}

.blog_holder_v2 article .post_content_holder, .blog_holder_v2.blog_single_holder article .post_content_holder {
    padding: 0px !important;
}

.two_columns_75_25 {
    width: 100%;
    margin-bottom: 6%;
}