/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/08/2018, 19:47:34
    Author     : hacho
*/

.fondo {
    background-image:url("../../plantillas/simplicity/assets/icons/parallax_image3.png");  
}



#section-hilos {    
    margin-top: -35px;
    margin-bottom: 20px;
}

#section-hilos .container_inner{
    width: inherit;
}

.blog_holder_v3 article {
    width: 24%;
}

#section-hilos .link-filtro {
    cursor: pointer;
    padding: 15px;
    margin: 5px 11px;
    font-size: 14px!important;
    font-weight: bold;
}

#section-hilos .tagcloud {
    margin: 30px 0;
}


#section-hilos .p-leyend {
    margin-bottom:50px;
}


.two_columns_75_25>.column1 {
    width: 70%;
    margin-right: 5%;
    float: left;
}

.title {
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #f6f8fc;
    opacity: 0;
}

aside .widget h5 {
    margin: 0 0 15px 0;
}

#section-hilos .tagcloud {
    margin: 0px 0;
}

aside .widget {
    margin-bottom: 40px;
}



.two_columns_75_25>.column2 {
    width: 25%;
    float: left;
    margin-bottom: 3%;
}


.blog_holder_v2 .post_content_quote h4, .blog_holder .post_content_quote h4 {
    background-image: url("");
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 18px;
    padding: 0px;
}

/*.post_text_hilo {
    margin-bottom: -5%;
}*/