/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2018, 10:56:48
    Author     : hacho
*/

.fuente-neasoft {
    font-family: 'Pacifico', cursive;
    font-size: 100%
}


nav.main_menu ul li:hover a, nav.main_menu ul li.active a {
    color:black;
}

#navbar {
    background-color: white
}


section {
    margin-top: -35px;
}

.p-leyend {
    font-size: 120%;
    text-align: center;    
    color: white;
}

.div-lindo {   
    color: white;  
    padding: 15px !important;
    background-color: rgba(20, 20, 20, 0.5);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

footer {
    margin-top: -35px;
}

div.comment_form_float {
    padding: 10px 0 0;
    /* border-top: 1px solid #273242; */
}


#panel-admin div.comment_form_float h4 {
    color: #fff;
    margin: 0px 0px 15px 15px;
    padding: 0px 0px;
    font-family: 'Roboto',sans-serif !important;
    font-size: 16px !important;
    line-height: 22px !important;
}


.comment_form_float input[type='text'], .comment_form_float textarea {
    background-color: #506482;
    width: 91%;
    margin: 0 0 22px 0;
    padding: 11px 4%;
    border: 0;
    outline: 0;
    color: #78879e;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    resize: none;
}

.panel-admin-box {
    display: inline-block;
    padding: 6px 0 0;
    width: 100%;
    margin-bottom: 20px;
}


.stylish-select .newListSelected {
    width: 99%;
    color: #fff;
    height: 38px;
    line-height: 38px;
    padding: 0px;
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #506482;
    font-size: 13px;
    text-align: left;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}


.content .container .container_inner {
     padding: 0px;
}

#map {
    width: 1100px;
    height: 500px;
    margin-bottom: 80px;
}

.parallax_content h2 {
    margin-top:70px;
    margin-bottom:30px;
    text-align: center;    
    color: white;
    font-size: 300%;
    font-weight: 400;
}

.section-parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}